:root {
  --bg-color: #8d99ae;
  --primary-color: #edf2f4;
  --secondary-color: #d5dce3;
  --secondary-shade: #b4bdcb;
  --accent-color1: #ef233c;
  --accent-color1-shade: #d11026;
  --accent-color2: #2b2d42;
  --accent-color2-shade: #202231;
  --font: "montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-color);
  font-family: var(--font);
}

.display {
  display: flex;
  flex-direction: column;
}

.calc-container {
  width: 300px;
  height: 418px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.342);
  padding: 5px;
  background-color: var(--primary-color);
  /* border-radius: 5px; */

  position: relative;
}

h3 {
  width: 100%;
  height: 30px;
  padding-right: 10px;
  padding-top: 10px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  background-color: var(--primary-color);
  font-size: 18px;
}

h2 {
  width: 100%;
  height: 50px;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  background-color: var(--primary-color);
  font-size: 30px;
}

.numpad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  list-style: none;
  text-align: center;
}

ul {
  border-left: 1px solid var(--primary-color);
  border-top: 1px solid var(--primary-color);
}

.numpad li {
  padding: 20px 10px;
  background-color: var(--secondary-color);
  border-right: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;

  transition: 200ms;
}

.numpad li:hover {
  background-color: var(--secondary-shade);
}

.numpad li:active {
  opacity: 50%;
}

.reset {
  grid-column: 1 / 3;
}

.numpad > .equal {
  grid-column: 3 / 5;
  background-color: var(--accent-color2);
  color: white;
}

.numpad > .equal:hover {
  background-color: var(--accent-color2-shade);
}

.numpad > .reset {
  background-color: var(--accent-color1);
  color: white;
}

.numpad > .reset:hover {
  background-color: var(--accent-color1-shade);
}

svg {
  /* background-color: var(--primary-color); */
  /* margin-top: 20px; */
  /* border-radius: 5px; */
  /* box-shadow: 0px 6px 5px hsla(0, 0%, 0%, 0.39); */
  cursor: pointer;

  position: absolute;
  top: 6px;
  left: 6px;

  transition: transform 200ms;
}

svg:hover {
  /* box-shadow: 0px 3px 5px hsla(0, 0%, 0%, 0.39); */
  transform: translateY(-1px);
}

svg:active {
  /* box-shadow: 0px 2px 5px hsla(0, 0%, 0%, 0.39); */
  transform: translateY(0px);
}

.history {
  width: 100%;
  height: 100%;
  padding: 10px;

  display: flex;
  flex-direction: column-reverse;
  text-align: right;
  justify-content: space-between;

  /* color: var(--accent-color2-shade); */
  /* border: 2px solid var(--secondary-shade); */
}

p {
  font-size: 25px;
  font-weight: bold;
  padding: 0px;

  background-color: var(--primary-color);
}

.small-print {
  font-size: 16px;
  color: #3a3c53;
}

.one-container {
  border-right: 2px solid var(--accent-color2-shade);
  padding-right: 10px;
}

.two-container {
  border-right: 2px solid hsla(233, 21%, 16%, 0.7);
  padding-right: 10px;
}

.three-container {
  border-right: 2px solid hsla(233, 21%, 16%, 0.5);
  padding-right: 10px;
}

.four-container {
  border-right: 2px solid hsla(233, 21%, 16%, 0.3);
  padding-right: 10px;
}

.five-container {
  border-right: 2px solid hsla(233, 21%, 16%, 0.1);
  padding-right: 10px;
}

.one {
  padding-top: 5px;
}

.one-sub {
  font-size: 30px;
}

.off {
  display: none;
}
